.button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #4CAF50;
    color: #fff; 
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button:hover {
    background-color: #45A049; /* Darker green button background color on hover */
}
